
input::placeholder{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media screen and (min-width:1160px){
    

body {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0;
    margin:0;
}
/* header------------------------------------------------------------------------------------- */
header {
    height: 50px;
    background-color: blue;
    color: aqua;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
    padding:10px;
    z-index: 1;
}



nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

}
/* list home , .... , with animation in the hover  */
li li:hover:not(li:nth-child(1)){
    
    background-color: aqua;
    color:black;
    border-radius:30px;
    flex-shrink: 1;
    z-index: 1;

    animation-name: n;
    animation-duration:1.5s;
    animation-fill-mode:both;

}
@keyframes n {
    0%{ 
        
        background-color: rgb(0, 0, 0);
        color: white;
    }
    100%{
        
        background-color: aqua;
        color:black;

    }
   
    
}
/* for header search */
/* for i#home */
i#home{ display: none;
    font-size: 40px;
color:aquamarine;
    animation-duration:3s;
    animation-name:color;
    animation-timing-function:linear;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
    border:none;
    position: relative;
    left:-20px;

}
nav{
    position: relative;
}
nav>ul li:nth-child(1){
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}
/* div.input-search containe input and button */
.input-search{
    margin:0;
    padding:0;
    width:500px;
    height: 40px;
    background-color: blue;
    display: flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items: center;
    border-spacing: 0;
    z-index: 1;
    position: absolute;
    right: calc(50% - 200px);
    top: 0;
    
    
    animation-duration:3s;
    animation-name:name;
    animation-timing-function:linear;
    animation-fill-mode:both;
    animation-iteration-count:infinite;

    border-radius: 30px;
}
/* animation for div.input-search */
@keyframes name{
    0%{
        border:2px solid aqua;
        color: aqua;
    }
    25%{
        border:2px solid aquamarine;
        color: aquamarine;
    }
    50%{
        border:2px solid yellow;
        color: yellow;
    }
    75%{
        border:2px solid aquamarine;
        color: aquamarine;
    }
    100%{
        border:2px solid aqua;
        color: aqua;
    }
}
/* input search */
.input-search input{
    width: 90%;
    margin:0;
    padding: 0;
    padding-left: 20px;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    border:none;
    outline: none;
    color:white;
    background-color:black;
    animation-duration:3s;
    animation-name:color;
    animation-timing-function:linear;
    animation-fill-mode:both;
    animation-iteration-count:infinite;

}

/* button search */
.input-search button{
    width:10%;
    margin: 0;
    padding:0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 30px 30px 0px;
    border:none;
    color:white;
    background-color:black;
    
}
#ul{
    position: absolute;
    right: 0;

}

/* main-------------------------------------------------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

hr {
    color: white;
    margin:0;
    padding: 0;
}

.left,.right{
   width:100%;
   height: 130vh;
}
/* div.left------------------------------------------ */
.left{
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    
   background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0)50%, black 95%);
   position: relative;
    

}
.left>div{
    display: flex;
    width:700px;
    height:100px;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content:center;
    position: relative;
    border-radius: 20px;
    


    border: 3px solid white;
    align-self: center;
    z-index: 1;
}
.left h1{
    font-size: 50px;
    color:gray;
    margin:0;
}
.left button{
    width: 150px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    
    outline:none;
    position: absolute;
    left:calc(50% - 75px);
    bottom: 0;
    animation-name: nam-rev;
    
    
}

.left button:hover{
    animation-name: nam;
    animation-duration: 1.2s;
    animation-timing-function:linear;
    animation-fill-mode: both;
    
}
@keyframes nam {
    0%{
        color: rgb(255, 255, 255);
        background-color: blueviolet;
    }
    100%{
        color:blueviolet;
        background-color: rgba(127, 255, 212, 0);
    }
    
}


.left img{
    width: 100%;
    position: absolute;
    z-index: -1;
}


/* div.center-------------------------------------------- */
div.center {
    max-width: 80%;
    height:300px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
    padding:20px
}
/* for scrollbar overflow-x:hidden; */
/* debut */
div.center::-webkit-scrollbar{
   height:5px;
}
body::-webkit-scrollbar{
    width: 8px;
}
div::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 255, 0.363);
    border-radius:30px;
}


body::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.379);
    border-radius: 30px;
    padding:0px;
    margin: 0;
}
div.center::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to right,blue 10%, aquamarine 30% 45%, aqua 55% 70%,blue 90% );
    border-radius: 30px;
}
body::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(to top,blue 10%, aquamarine 30% 45%, aqua 55% 70%,blue 90% );
    border-radius: 30px;
}
/* fin */

.box {
    transform:matrix(1,0,0,1,0,0);
    box-shadow: 0px 0px 3px white inset;
    border-radius: 10px;
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:10px;
    transition-duration:2s;
    
}
.plus{
    box-shadow: 0px 0px 3px white inset;
    border-radius :10px;
    width: 100px;
    margin:10px;
    height:300px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    transition-duration: 2s;
    padding: 0;

}
.plus a{
    margin: auto;
    text-align: center;
    width:100px;
    height:50px;
}
.info{
    
    height: 75%;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}


img {
    border-radius: 10px
}

.box:hover,.plus:hover{
    transform: scale(1.2);
    z-index: 1;

}

.left{
    display: flex;
    justify-content: center;

    padding:0;
    overflow: hidden;
}
/* div.right----------------------------------- */
div.right{
    height:100px;
}

    
    /* flex-grow:1;
       flex-shrinck */

main button{
    background-color: turquoise;
    color:white;
    border-radius:30px;
}
/* footer------------------------------------------------------------------------- */
footer{
    height: 450px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items:center;

}

.a-globale{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}
.a{
    width:100px;
    display: flex;
    flex-flow:column wrap;
    justify-content: space-evenly;
    align-items: center;
}

}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width:1160px ) and (min-width:770px) {
    
body {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0;
    margin:0;
}
/* header------------------------------------------------------------------------------------- */
header {
    height: 50px;
    background-color: blue;
    color: aqua;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
    padding:10px;
    z-index: 1;
}



nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

}
/* list home , .... , with animation in the hover  */
li li:hover:not(li:nth-child(1)){
    display: none;
    background-color: aqua;
    color:black;
    border-radius:30px;
    flex-shrink: 1;
    z-index: 1;

    animation-name: n;
    animation-duration:1.5s;
    animation-fill-mode:both;

}
@keyframes n {
    0%{ 
        
        background-color: rgb(0, 0, 0);
        color: white;
    }
    100%{
        
        background-color: aqua;
        color:black;

    }
   
    
}
/* for header search */
/* for i#home */
i#home{
    font-size: 40px;
    color:aquamarine;
    animation-duration:3s;
    animation-name:color;
    animation-timing-function:linear;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
    border:none;
    position: relative;
    left:-20px;

}
nav{
    position: relative;
}
nav>ul li:nth-child(1){
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}
/* div.input-search containe input and button */
.input-search{
    margin:0;
    padding:0;
    width:500px;
    height: 40px;
    background-color: blue;
    display: flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items: center;
    border-spacing: 0;
    z-index: 1;
    position: absolute;
    right: calc(50% - 200px);
    top: 0;
    
    
    animation-duration:3s;
    animation-name:name;
    animation-timing-function:linear;
    animation-fill-mode:both;
    animation-iteration-count:infinite;

    border-radius: 30px;
}
/* animation for div.input-search */
@keyframes name{
    0%{
        border:2px solid aqua;
        color: aqua;
    }
    25%{
        border:2px solid aquamarine;
        color: aquamarine;
    }
    50%{
        border:2px solid yellow;
        color: yellow;
    }
    75%{
        border:2px solid aquamarine;
        color: aquamarine;
    }
    100%{
        border:2px solid aqua;
        color: aqua;
    }
}
/* input search */
.input-search input{
    width: 90%;
    margin:0;
    padding: 0;
    padding-left: 20px;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    border:none;
    outline: none;
    color:white;
    background-color:black;
    animation-duration:3s;
    animation-name:color;
    animation-timing-function:linear;
    animation-fill-mode:both;
    animation-iteration-count:infinite;

}

/* button search */
.input-search button{
    width:10%;
    margin: 0;
    padding:0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 30px 30px 0px;
    border:none;
    color:white;
    background-color:black;
    
}
#ul{
    display: none;
}

/* main-------------------------------------------------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

hr {
    color: white;
    margin:0;
    padding: 0;
}

.left,.right{
   width:100%;
   height: 90vh;
}
/* div.left------------------------------------------ */
.left{
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    
   background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0)50%, black 95%);
   position: relative;
    

}
.left>div{
    display: flex;
    width:500px;
    height:100px;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content:center;
    position: relative;
    border-radius: 20px;
    


    border: 3px solid white;
    align-self: center;
    z-index: 1;
}
.left h1{
    font-size: 50px;
    color:gray;
    margin:0;
}
.left button{
    width: 150px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    
    outline:none;
    position: absolute;
    left:calc(50% - 75px);
    bottom: 0;
    animation-name: nam-rev;
    
    
}

.left button:hover{
    animation-name: nam;
    animation-duration: 1.2s;
    animation-timing-function:linear;
    animation-fill-mode: both;
    
}
@keyframes nam {
    0%{
        color: rgb(255, 255, 255);
        background-color: blueviolet;
    }
    100%{
        color:blueviolet;
        background-color: rgba(127, 255, 212, 0);
    }
    
}


.left img{
    width: 100%;
    position: absolute;
    z-index: -1;
}


/* div.center-------------------------------------------- */
div.center {
    max-width: 80%;
    height:300px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
    padding:20px
}
/* for scrollbar overflow-x:hidden; */
/* debut */
div.center::-webkit-scrollbar{
   height:5px;
}
body::-webkit-scrollbar{
    width: 8px;
}
div::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 255, 0.363);
    border-radius:30px;
}


body::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.379);
    border-radius: 30px;
    padding:0px;
    margin: 0;
}
div.center::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to right,blue 10%, aquamarine 30% 45%, aqua 55% 70%,blue 90% );
    border-radius: 30px;
}
body::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(to top,blue 10%, aquamarine 30% 45%, aqua 55% 70%,blue 90% );
    border-radius: 30px;
}
/* fin */

.box {
    transform:matrix(1,0,0,1,0,0);
    box-shadow: 0px 0px 3px white inset;
    border-radius: 10px;
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:10px;
    transition-duration:2s;
    
}
.plus{
    box-shadow: 0px 0px 3px white inset;
    border-radius :10px;
    width: 100px;
    margin:10px;
    height:300px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    transition-duration: 2s;
    padding: 0;

}
.plus a{
    margin: auto;
    text-align: center;
    width:100px;
    height:50px;
}
.info{
    
    height: 75%;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}


img {
    border-radius: 10px
}

.box:hover,.plus:hover{
    transform: scale(1.2);
    z-index: 1;

}

.left{
    display: flex;
    justify-content: center;

    padding:0;
    overflow: hidden;
}
/* div.right----------------------------------- */
div.right{
    height:100px;
}

    
    /* flex-grow:1;
       flex-shrinck */

main button{
    background-color: turquoise;
    color:white;
    border-radius:30px;
}
/* footer------------------------------------------------------------------------- */
footer{
    height: 450px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items:center;

}

.a-globale{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}
.a{
    width:100px;
    display: flex;
    flex-flow:column wrap;
    justify-content: space-evenly;
    align-items: center;
}

}
@media screen and (max-width:770px) and (min-width:445px) {
  
        body {
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 0;
            margin:0;
        }
        /* header------------------------------------------------------------------------------------- */
        header {
            height: 50px;
            background-color: blue;
            color: aqua;
            margin: 0px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        
        }
        
        a {
            text-decoration: none;
            color: white;
            padding:10px;
            z-index: 1;
        }
        
        
        
        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 1;
        
        }
        /* list home , .... , with animation in the hover  */
        li li:hover:not(li:nth-child(1)){
            display: none;
            background-color: aqua;
            color:black;
            border-radius:30px;
            flex-shrink: 1;
            z-index: 1;
        
            animation-name: n;
            animation-duration:1.5s;
            animation-fill-mode:both;
        
        }
        @keyframes n {
            0%{ 
                
                background-color: rgb(0, 0, 0);
                color: white;
            }
            100%{
                
                background-color: aqua;
                color:black;
        
            }
           
            
        }
        /* for header search */
        /* for i#home */
        i#home{
            font-size: 40px;
            color:aquamarine;
            animation-duration:3s;
            animation-name:color;
            animation-timing-function:linear;
            animation-fill-mode:both;
            animation-iteration-count:infinite;
            border:none;
            position: relative;
            left:-20px;
        
        }
        nav{
            position: relative;
        }
        nav>ul li:nth-child(1){
            
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 1;
        }
        /* div.input-search containe input and button */
        .input-search{
            margin:0;
            padding:0;
            width:200px;
            height: 40px;
            background-color: blue;
            display: flex;
            flex-flow:row wrap;
            justify-content:space-between;
            align-items: center;
            border-spacing: 0;
            z-index: 1;
            position: absolute;
            right: calc(50% - 100px);
            top: 0;
            
            
            animation-duration:3s;
            animation-name:name;
            animation-timing-function:linear;
            animation-fill-mode:both;
            animation-iteration-count:infinite;
        
            border-radius: 30px;
        }
        /* animation for div.input-search */
        @keyframes name{
            0%{
                border:2px solid aqua;
                color: aqua;
            }
            25%{
                border:2px solid aquamarine;
                color: aquamarine;
            }
            50%{
                border:2px solid yellow;
                color: yellow;
            }
            75%{
                border:2px solid aquamarine;
                color: aquamarine;
            }
            100%{
                border:2px solid aqua;
                color: aqua;
            }
        }
        /* input search */
        .input-search input{
            width: 90%;
            margin:0;
            padding: 0;
            padding-left: 20px;
            height: 100%;
            border-radius: 30px 0px 0px 30px;
            border:none;
            outline: none;
            color:white;
            background-color:black;
            animation-duration:3s;
            animation-name:color;
            animation-timing-function:linear;
            animation-fill-mode:both;
            animation-iteration-count:infinite;
        
        }
        
        /* button search */
        .input-search button{
            width:10%;
            margin: 0;
            padding:0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px 30px 30px 0px;
            border:none;
            color:white;
            background-color:black;
            
        }
        #ul{
            display: none;
        }
        
        /* main-------------------------------------------------------------------------------------------- */
        main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
        }
        
        hr {
            color: white;
            margin:0;
            padding: 0;
        }
        
        .left,.right{
           width:100%;
           height: 500px;
        }
        /* div.left------------------------------------------ */
        .left{
            display: flex;
            flex-flow:row wrap;
            justify-content:center;
            
           background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0)50%, black 95%);
           position: relative;
            
        
        }
        .left>div{
            display: flex;
            width:500px;
            height:100px;
            flex-flow: column wrap;
            justify-content: space-between;
            align-content:center;
            position: relative;
            border-radius: 20px;
            
        
        
            border: 3px solid white;
            align-self: center;
            z-index: 1;
        }
        .left h1{
            font-size: 50px;
            color:gray;
            margin:0;
        }
        .left button{
            width: 150px;
            border: 2px solid white;
            color: rgb(255, 255, 255);
            background-color: blueviolet;
            font-size: 25px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 600;
            
            outline:none;
            position: absolute;
            left:calc(50% - 75px);
            bottom: 0;
            animation-name: nam-rev;
            
            
        }
        
        .left button:hover{
            animation-name: nam;
            animation-duration: 1.2s;
            animation-timing-function:linear;
            animation-fill-mode: both;
            
        }
        @keyframes nam {
            0%{
                color: rgb(255, 255, 255);
                background-color: blueviolet;
            }
            100%{
                color:blueviolet;
                background-color: rgba(127, 255, 212, 0);
            }
            
        }
        
        
        .left img{
            width: 100%;
            position: absolute;
            z-index: -1;
        }
        
        
        /* div.center-------------------------------------------- */
        div.center {
            max-width: 80%;
            height:300px;
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
            
            padding:20px
        }
        /* for scrollbar overflow-x:hidden; */
        /* debut */
        div.center::-webkit-scrollbar{
           height:5px;
        }
        body::-webkit-scrollbar{
            width: 8px;
        }
        div::-webkit-scrollbar-track{
            background-color: rgba(0, 0, 255, 0.363);
            border-radius:30px;
        }
        
        
        body::-webkit-scrollbar-thumb{
            background-color: rgba(128, 128, 128, 0.379);
            border-radius: 30px;
            padding:0px;
            margin: 0;
        }
        div.center::-webkit-scrollbar-thumb{
            background-image: linear-gradient(to right,blue 10%, aquamarine 30% 45%, aqua 55% 70%,blue 90% );
            border-radius: 30px;
        }
        body::-webkit-scrollbar-thumb:hover{
            background-image: linear-gradient(to top,blue 10%, aquamarine 30% 45%, aqua 55% 70%,blue 90% );
            border-radius: 30px;
        }
        /* fin */
        
        .box {
            transform:matrix(1,0,0,1,0,0);
            box-shadow: 0px 0px 3px white inset;
            border-radius: 10px;
            width: 100px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin:10px;
            transition-duration:2s;
            
        }
        .plus{
            box-shadow: 0px 0px 3px white inset;
            border-radius :10px;
            width: 100px;
            margin:10px;
            height:300px;
            display: flex;
            flex-direction:row;
            justify-content:center;
            align-items: center;
            transition-duration: 2s;
            padding: 0;
        
        }
        .plus a{
            margin: auto;
            text-align: center;
            width:100px;
            height:50px;
        }
        .info{
            
            height: 75%;
            margin: 0;
            padding:0;
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-around;
        }
        
        
        img {
            border-radius: 10px
        }
        
        .box:hover,.plus:hover{
            transform: scale(1.2);
            z-index: 1;
        
        }
        
        .left{
            display: flex;
            justify-content: center;
        
            padding:0;
            overflow: hidden;
        }
        /* div.right----------------------------------- */
        div.right{
            height:100px;
        }
        
            
            /* flex-grow:1;
               flex-shrinck */
        
        main button{
            background-color: turquoise;
            color:white;
            border-radius:30px;
        }
        /* footer------------------------------------------------------------------------- */
        footer{
            height: 450px;
            
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items:center;
        
        }
        
        .a-globale{
            display: flex;
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
        
        }
        .a{
            width:100px;
            display: flex;
            flex-flow:column wrap;
            justify-content: space-evenly;
            align-items: center;
        }
        
        
}
@media screen and (max-width:445){
    
}